# The `agg` function

Use `agg` to see the effect of a $10,000 UBI by marital status.

## Setup

In [1]:
import numpy as np
import pandas as pd

import taxcalc as tc
import microdf as mdf

In [2]:
tc.__version__

'5.0.4'

## Load data

Start with a standard `DataFrame`, then add a UBI manually in a reform copy.

In [3]:
base = mdf.calc_df(group_vars=['expanded_income', 'MARS', 'XTOT'],
                   metric_vars='aftertax_income')

In [4]:
reform = base.copy(deep=True)
UBI_PP = 10000
reform['ubi'] = reform.XTOT * UBI_PP
reform['aftertax_income'] = reform.aftertax_income + reform.ubi
mdf.add_weighted_metrics(reform, 'aftertax_income')

## `agg`

### Change in aftertax income by marital status.

In [6]:
mdf.agg(base, reform, 'MARS', 'aftertax_income')

      aftertax_income_m_base  aftertax_income_m_reform  aftertax_income_pctchg
MARS
1.0             4.454948e+06              5.692781e+06                0.277856
2.0             8.086353e+06              1.007139e+07                0.245480
3.0             1.747066e+05              2.200549e+05                0.259568
4.0             1.082960e+06              1.584130e+06                0.462778

### Also sum baseline `expanded_income`

In [7]:
mdf.agg(base, reform, 'MARS', 'aftertax_income', 'expanded_income')

,aftertax_income_m_base,expanded_income,aftertax_income_m_reform,aftertax_income_pctchg
MARS,,,,
1.0,4.454948e+06,6.176263e+09,5.692781e+06,0.277856
2.0,8.086353e+06,1.429634e+10,1.007139e+07,0.245480
3.0,1.747066e+05,2.233541e+08,2.200549e+05,0.259568
4.0,1.082960e+06,1.362624e+09,1.584130e+06,0.462778

### Also sum UBI amount

In [8]:
mdf.add_weighted_metrics(reform, 'ubi')  # Creates ubi_m = ubi * s006 / 1e6.

mdf.agg(base, reform, 'MARS', 'aftertax_income', reform_metrics='ubi_m')

,aftertax_income_m_base,aftertax_income_m_reform,ubi_m,aftertax_income_pctchg
MARS,,,,
1.0,4.454948e+06,5.692781e+06,1.237833e+06,0.277856
2.0,8.086353e+06,1.007139e+07,1.985039e+06,0.245480
3.0,1.747066e+05,2.200549e+05,4.534831e+04,0.259568
4.0,1.082960e+06,1.584130e+06,5.011703e+05,0.462778